@media (max-width: 930px){
   .container{
      width: 80rem;
      height: 40rem;
   }

   .margin-global{
      margin: 4rem;
   }

   .content h1{
      font-size: 2.5rem;
   }

   .content-p{
      font-size: 1.3rem;
      width: 30rem;
   }

   .informs{
      gap: 3rem;
   }
}

@media(max-width: 600px){

   .container{
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
   }

   .content{
      border-radius: 0 0 1.2rem 1.2rem;
      padding: 0 1rem;
   }

   .content h1{
      font-size: 2rem;
      text-align: center;
   }

   .content-p{
      
      font-size: 1.2rem;
      text-align: center;
      width: 20rem;
      margin: 2rem 0 3rem -1rem;
   }

   .informs{
      flex-direction: column;
      align-items: center;
   }

   .informs-text h2{
      font-size: 1.8rem;
      text-align: center;
   }

   .informs p{
      font-size: 1rem;
      text-align: center;
   }

   .img-box, .img{
      border-radius: 10px 10px 0 0;
   }

}

@media(min-width: 376px) and (max-width: 590px){

   .content{
      padding: 2rem 0;
   }

   .margin-global{
      margin: 1rem;
   }

   .content-p{
   
      width: 90%;
      text-align: center;
      margin: auto;
      padding: 2rem 0;
      
   }

}

@media(max-width: 375px){

   .content h1{
      font-size: 1.4rem;
      padding-top: 2rem;
   }

   .margin-global{
      margin: 1rem;
   }

   .content-p{
      
      font-size: 1rem;
      line-height: 2rem;
      width: 90%;
      text-align: center;
      margin: auto;
      padding: 2rem 0;
   }

   .informs{
      padding-bottom: 1rem;
   }

   .informs-text h2{
      font-size: 1.2rem;
   }

   .informs p{
      font-size: .8rem;
   }
}